* {
    border-style: solid;
    border: 1px;
}

/* main */
.container {
    box-sizing: border-box;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 450px 300px 300px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "poster overview overview"
        "info comment comment"
        "rel trailer trailer";
}

.rel {
    grid-area: rel;
    border-style: dashed;
}

.trailer {
    grid-area: trailer;
    border-style: dashed;
}

.poster {
    grid-area: poster;
    border-style: dashed;
}

#posterImg {
    position: relative;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.info {
    grid-area: info;
    border-style: dashed;
}

.overview {
    grid-area: overview;
    border-style: dashed;
}

.comment {
    grid-area: comment;
    border-style: dashed;
}

#cmtTableCont {
    position: relative;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 250px;
}

#cmtTableCont {
    height: 150px;
}

/* star */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked~label {
    color: #fc0;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #fc0;
}